body {
    font-family: sans-serif;
}
a{
    text-decoration: none;
}


p{
    text-align: center;
    font-size: large;

}
h1{
    text-align: center;
    padding-left: 50px;
    color: rgb(30, 72, 150);
}
h2
 {
    text-align: center;
  padding-left: 50px;  
    color: darkslateblue;
}
#about{
    display: flex;
    margin: 0 auto;
    text-align: center;
    /* max-width: 800px; */
}


#theory{
  padding: 90px;
    width: 50%;
}
#mamata{
    width: 50%;
    text-align: center;
    object-fit: cover;
    border-radius:30px;
}
#mamata {
    text-align: center;
    object-fit: cover;
    border-radius:30px;
    margin: 0 auto;
    max-width: 800px;
   
}
#mamata-img{
    width: 100%;
    
}
.location{
    list-style: none;
    display: inline;
    padding: 32px;

}

#more {
    text-align: left;

}
#list{
   margin: 0;
   padding: 0;
}
#more li{
    text-align: left;
    list-style: none;
    display: inline;
    padding: 10px;
}
#footer{
    display: flex;
    margin: 0,auto;
    
}
#accenture{
    display: flex;
    width: 50%;
    padding: 80px;
    padding-top: 10px;
   
    

}
#img1{
    width: 50%;
}
#theory1{
    padding-left: 8px;
    width: 50%;
}
#hackerrank{
    display: flex;
    width: 50%;
    padding: 80px;
    padding-top: 10px;
    
    
}
#img2{
    width: 50%;
}
#theory2{
    width: 50%;
    padding-left: 8px;
}

#connect{
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-color: rgb(233, 235, 236);
    color: cornflowerblue;
    padding: 30px;
}
#connect li{
    display: inline;
    list-style: none;
    padding: 30px;
    margin: 0 auto;

}